<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
    <link rel="stylesheet" href="">
    <title>The Polished Stone</title>
</head>
<style>
    body {
        background-image: url('/static/imgs/bg.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
</style>
<body class="text-light mb-5">
    <div class="container vstack gap-5 mt-5">
        <div class="row bg-dark bg-opacity-75 rounded py-3">
            <div class="col">
                <a href="/">
                    <img class="w-100 rounded-3 ps-5" src="/static/imgs/polishedstonelogo.jpg" alt="Polished Stone Logo">
                </a>
            </div>
            <div class="col-8 text-center mt-3">
                <h1>The Polished Stone</h1>
                <h3>Custom Jewelry and Accessories</h3>
            </div>
            <div class="col text-center d-flex flex-column">
                {% if user_profile == False %}
                <a class="btn btn-success mt-4 fw-bold" href="/login">Login</a>
                <a class="btn btn-info mt-4 fw-bold" href="/register">Register</a>
                {% elif user_profile.id == session.user_id %}
                <form action="/logout" method="post">
                    <button class="btn btn-danger mt-4 fw-bold" type="submit">Logout</button>
                </form>
                {% endif %}
                {% if user_profile.id == 1 %}
                <a class="btn btn-primary mt-4 fw-bold" href="/admin">Admin Page</a>
                {% endif %}
            </div>
        </div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-5">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link" href="/">Home</a>
                        <a class="nav-link" href="/store">Store</a>
                        <a class="nav-link" href="/media">Gallery</a>
                        <a class="nav-link" href="/contact">Contact</a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <div class="mt-5 vstack gap-5">
        <div class="container">
            <div class="row">
                <div class="col d-flex flex-column">
                    <div class="m-auto mt-2">
                        <div class="text-center mt-5">
                            <img class="img-fluid img-thumbnail" src="/static/imgs/default_pfp.jpg"/>
                        </div>
                        <div class="container">
                            <h2 class="text-light text-center mt-3">{{user_profile.username}}</h2>
                            <h5 class="text-white fw-normal mt-4">Favorite Stone</h5>
                            {% if user_profile.fav_stone != None %}
                            <h4 class="text-light text-center">{{user_profile.fav_stone}}</h4>
                            {% endif %}
                            <h5 class="text-white fw-normal mt-3">Noteable Skills</h5>
                            {% if user_profile.prof != None %}
                            <h4 class="text-light text-center">{{user_profile.prof}}</h4>
                            {% endif %}
                            <h5 class="text-white fw-normal mt-3">Description</h5>
                            {% if user_profile.descr != None %}
                            <h4 class="text-light text-center">{{user_profile.descr}}</h4>
                            {% endif %}
                            
                        </div>
                    </div>
                </div>
                <div class="col rounded-1 bg-dark px-5">
                    <h2 class="text-center p-4"> Edit Profile </h2>
                    <form class="mb-3" action="/update/{{user_profile.id}}" method="post">
                        <div class="px-4 row">
                            <div class="col">
                                <label class="form-label text-white fs-5 fw-bold mt-2">Display Name:</label>
                                <input type="text" name="username" class="form-control" value="{{user_profile.username}}">
                                <label class="form-label text-white fs-5 fw-bold mt-2">First Name:</label>
                                <input type="text" name="first_name" class="form-control" value="{{user_profile.first_name}}">
                                <label class="form-label text-white fs-5 fw-bold mt-2">Last Name:</label>
                                <input type="text" name="last_name" class="form-control" value="{{user_profile.last_name}}">
                                <label class="form-label text-white fs-5 fw-bold mt-2">Hobbies:</label>
                                <input type="text" name="hobbies" class="form-control" value="{{user_profile.hobbies}}">
                                <label class="form-label text-white fs-5 fw-bold mt-2">Favorite Stone:</label>
                                <input type="text" name="fav_stone" class="form-control" value="{{user_profile.fav_stone}}">
                                <label class="form-label text-white fs-5 fw-bold mt-2">Birthday:</label>
                                <input type="date" name="dob" class="form-control" value="{{user_profile.dob}}">
                            </div>
                            <div class="pb-5">
                                <label class="form-label text-white fs-5 fw-bold mt-2">Profeciencies:</label>
                                <textarea name="prof" id="prof" cols="100" rows="2">{{user_profile.prof}}</textarea>
                                <label class="form-label text-white fs-5 fw-bold mt-2">Description:</label>
                                <textarea name="descr" id="descr" cols="100" rows="2">{{user_profile.descr}}</textarea>
                                <label class="form-label text-white fs-5 fw-bold mt-2">Bio:</label>
                                <textarea name="bio" id="bio" cols="100" rows="5">{{user_profile.bio}}</textarea>
                            </div>
                            <div class="col text-center mt-3">
                                <input class="btn btn-success mt-1 fw-bold" type="submit" value="Save">
                                <p class="mt-3 fw-bold">Last Updated:</p>
                                <p>{{user_profile.updated_at.strftime('%m/%d/%Y')}} at {{user_profile.updated_at.strftime('%I:%M %p')}}</p>
                            </div>
                            
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class=" vstack gap-5">
        {% if session.user_id == 1 %}
        <div class="container text-light mt-5 mb-5">
            <a class="btn btn-info mt-5" href="/new_product/{{session.user_id}}">New Product</a>
            <table class="table table-hover table-striped table-dark mt-3 text-center">
                <thead>
                    <tr>
                        <th class="pe-5" scope="col">Product</th>
                        <th scope="col">Price</th>
                        <th class="ps-5" scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in all_products %}
                        {% if session.user_id == product.user.id %}
                            {% if product.name == None %}
                            <tr>
                                <td class="fs-3 pe-5">You have no listed products</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            {% else %}
                            <tr>
                                <td class="fs-3 pe-5">{{product.name}}</td>
                                <td class="fs-3 fw-bold">{{"${:,.2f}".format(product.price)}}</td>
                                <td class="d-flex justify-content-evenly">
                                    <form class="mb-1 mt-2" action="/edit_product/{{session.user_id}}/{{product.id}}">
                                        <button class="btn btn-warning">Edit</button>
                                    </form>
                                    <form class="mt-2" action="/delete_product/{{session.user_id}}/{{product.id}}" method="post">
                                        <button type="submit" class="btn btn-danger">Delete</button>
                                    </form>
                                </td>
                            </tr>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
        <!-- Addresses -->
        <!-- Payment Methods -->
    </div>
</body>
</html>